<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">

	<title>CV</title>
</head>

<body>
	<header>
		<div class="container">

			<h1>
				<button data-animation-scroll="true" data-target="#main">LudwigAhn</button>
			</h1>
			<nav>
				<ul>
					<li class="nav-item">
						<button type="button" onclick="location.href='/'">Do It Django</button>
					</li>
					<li class="nav-item">
						<button type="button" onclick="location.href='/blog/'">Blog</button>
					</li>
					<li>
						<button data-animation-scroll="true" data-target="#about">
							About
						</button>
					</li>
					<li>
						<button data-animation-scroll="true" data-target="#contact">
							Contact
						</button>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main id="main">
		<div class="container">
			<h2>I'm a <span></span></h2>
			<p>It is a tale
				Told by an idiot, full of sound and fury,
				Signifying nothing.</p>
		</div>
	</main>
	<section id="about" class="about">
		<div class="container">
			<h2>About myself</h2>
		</div>
		<div class="about-self">
			<div class="left">
				<a href="https://pedia.watcha.com/ko-KR/users/JgkqlRDAAK5X0" target="_blank">
					<img src="/static/single_pages/images/Blade.jpg" alt="film">
				</a>
			</div>
			<div class="right">
				<h4>Hello, <strong>I'm LudwigAhn</strong></h4>
				<p>I am currently on a leave of absence and studying</p>
				<p>web programming and algorithm by myself.</p>
				<p>I plan to become a backend developer or data scientist later.</p>
				<div class="social">
					<a href="https://github.com/LudwigAhn" target="_blank">
						<i class="fa-brands fa-github"></i>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section id="cv" class="cv">
		<div class="grid-container">
			<div class="item" id="Summary">
				<h2>Summary</h2>
				<p>As a still learning student, I am exploring several languages and fields.</p>
				<p>One project experience, no career experience. But there is a will to learn</p>
			</div>
			<div class="item" id="Skills">
				<h2>Skills</h2><br>
				<button type="button" onclick="location.href='https://developer.mozilla.org/ko/docs/Web/HTML' ">
					<i class="fa-brands fa-html5"></i>Html</button>

				<button type="button" onclick="location.href='https://developer.mozilla.org/ko/docs/Web/CSS' ">
					<i class="fa-brands fa-css3-alt"></i>Css</button>

				<button type="button" onclick="location.href='https://developer.mozilla.org/ko/docs/Web/JavaScript' ">
					<i class="fa-brands fa-js"></i>JavaScript</button>

				<br>
				<button type="button" onclick="location.href='https://www.python.org/' ">
					<i class="fa-brands fa-python"></i>Python</button>
				<button type="button"
					onclick="location.href='https://ko.wikipedia.org/wiki/C_(%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%96%B8%EC%96%B4)' ">
					<i class="fa-brands fa-c"></i>C</button>
			</div>
			<div class="item" id="Experience">
				<h2>Experience</h2>
				<p>None</p>
			</div>
			<div class="item" id="Languages">
				<h2>Languages</h2>
				<p>Korean</p>
				<p>English</p>
			</div>
			<div class="item" id="Projects">
				<h2>Projects</h2>
				<p>Simple web cv</p>
			</div>
			<div class="item" id="Education">
				<h2>Education</h2>
				<p>Computer Engineering 2nd year student</p>
			</div>
		</div>
	</section>

	<section id="contact" class="contact">
		<div class="container">
			<h2>Contact with me</h2>
		</div>
		<div class="contact-me">
			<div class="left">
				<div class="card">
					<div class="icon">
						<i class="fa-solid fa-phone"></i>
					</div>
					<p class="info_text">phone&nbsp;010-1111-1123</p>
				</div>
				<div class="card">
					<div class="icon">
						<i class="fa-solid fa-envelope"></i>
					</div>
					<p class="info_text">email&nbsp;2045sky@naver.com</p>
				</div>
				<div class="card">
					<div class="icon">
						<i class="fa-solid fa-location-dot"></i>
					</div>
					<p class="info_text">address&nbsp;Berlin</p>
				</div>
			</div>
			<div class="right">
				<form
					action="https://script.google.com/macros/s/AKfycbyLjtM-BtA8bLw5fW456lri7mOTE2ls0HDcv_1XYGbghPeU4U0ems29N-PFcINBEGe3/exec"
					method="post" data-email="2045sky@naver.com" target="iframe0">
					<div class="form-group">
						<label for="name">name</label>
						<input id="name" name="name" placeholder="name" />
					</div>
					<div class="form-group">
						<label for="email">email</label>
						<input id="email" name="email" type="email" value="" required
							placeholder="your.name@email.com" />
					</div>
					<div class="form-group">
						<label for="msg">message</label>
						<textarea id="message" name="message" rows="10"
							placeholder=" Please leave a message"></textarea>
					</div>
				</form>
			</div>
		</div>
	</section>
	<iframe name='iframe0' width='0' height='0' frameborder='0'></iframe>
	<script src="{% static 'single_pages/js/action.js' %}"></script>

	{% include 'blog/footer.html' %}

</body>

</html>